


.game{
    padding: 5rem;
    width: 480px;
    margin: 0 auto;
    background-color: rgb(109, 111, 111);
    border: 3px solid #000000;
    border-radius: 10rem;
}

.flex{
    display: flex;
    margin-bottom: 2rem;
}

.center{
    justify-content: center;
}

.middle{
 justify-content: space-around;
 align-items: center;
}