<div class="container pt-5 text-center text-light">
    <img src="assets/hlLOGO.png" alt="logo">
    <div class="row">
        <div class="col text-light">
            <hr>
            <h2 class="badge bg-secondary text-wrap">PUNTOS: {{puntos}}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <h2>Carta Anterior</h2>
            <img src={{cartaAnterior}} style="opacity: 50%;" alt="cartaAnt" *ngIf="cartaAnterior != ''">
            <img src='assets\cards\red_joker.svg' style="opacity: 50%;" alt="cartaAnt" *ngIf="cartaAnterior == ''">
        </div>
        <div class="col-4">
            <h2>Carta Actual</h2>
            <img src={{cartaActual}} alt="carta">
        </div>
    </div>
    <hr class="text-light">
    <div class="row mt-5">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger" (click)="jugar(false)">MENOR</button>
            <button type="button" class="btn btn-success" (click)="jugar(true)">MAYOR</button>
        </div>
    </div>
</div>