<section>

  <div class="container" >
    <div class="row">
        <div class="col-12 col-lg-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="assets/gameHL.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mayor o Menor</h5>
                  <p class="card-text"></p>
                  <a routerLink="higherorlower" class="btn btn-success">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="assets/ahorcado.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ahorcado</h5>
                  <p class="card-text"></p>
                  <a routerLink="ahorcado" class="btn btn-success">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="assets/preguntados.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Preguntados</h5>
                  <p class="card-text"></p>
                  <a routerLink="preguntados" class="btn btn-success">Jugar</a>
                </div>
            </div>
        </div>
     </div>
    </div>
</section>
 <router-outlet></router-outlet>
