 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  
 <div class = "about-wrapper text-light">
    <div class = "about-left">
      <div class = "about-left-content">
        <div>
          <div class = "shadow">
            <div class = "about-img">
              <img src = "assets/perf.jpg" alt="perfil" alt = "about image">
            </div>
          </div>

          <h2>Alejandro<br>Heidenreich</h2>
          <h3>Laboratorio IV</h3>
        </div>

        <ul class = "icons">
          <li><i class = "fab fa-google"></i></li>
          <li><i class = "fab fa-github"></i></li>
          <li><i class = "fab fa-angular"></i></li>
          <!-- <li><i class = "fab fa-instagram"></i></li> -->
        </ul>
      </div>
    </div>

    <div class = "about-right text-dark">
      <h1 ><span>“</span>Quién Soy<span>”</span></h1>
      <!-- <h2>“ Quién Soy ”</h2> -->
      <div class = "about-btns">
        <button type = "button" class = "btn btn-green" (click)="mostrarDiv(0)">datos personales</button>
        <button type = "button" class = "btn btn-white" (click)="mostrarDiv(1)">juego propio</button>
      </div>

      <div class = "about-para" *ngIf="divMostrada === 0">
        <p>Nombre: Alejandro</p>
        <p>Apellido: Heidenreich</p>
        <p>Email: heidenreich.alejandro@gmail.com</p>
        <p>Materia: Laboratorio IV</p>
        <p>Division: B</p>
      </div>
      <div class = "about-para" *ngIf="divMostrada === 1">
        <p>Juego no definido</p>
      </div>
    </div>
  </div>
