<!-- <div class="area"></div> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  
<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Inicio
                </span>
            </a>
        </li>
        <li>
            <a routerLink="games">
                <i class="fa fa-gamepad fa-2x"></i>
                <span class="nav-text">
                    Juegos
                </span>
            </a>
        </li>
        <li>
            <a routerLink="chat">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Chat
                </span>
            </a>
        </li>
        <li>
            <a routerLink="ranking">
                <i class="fa fa-star fa-2x"></i>
                <span class="nav-text">
                    Ranking
                </span>
            </a>
        </li>
        <li>
            <a routerLink="encuestas">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Encuestas
                </span>
            </a>
        </li>
        <li>
            <a routerLink="about">
                <i class="fa fa-info-circle fa-2x"></i>
                <span class="nav-text">
                    “ Quién Soy ”
                </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a (click)="logout()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>

